name: tests
on: push

jobs:
  tests:
    name: Code style and tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [8.0, 8.1, 8.2]
        stability: ["--prefer-lowest", "--prefer-stable", ""]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, dom, fileinfo
          coverage: none

      - name: Get composer cache directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Cache composer dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-${{ matrix.php }}-${{ matrix.strategy }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.php }}-${{ matrix.strategy }}-composer-

      - name: Install Composer dependencies
        run: composer update --no-interaction --no-progress --optimize-autoloader --prefer-dist ${{ matrix.stability }}

      - name: Check code style
        run: vendor/bin/phpcs

      - name: Run tests
        run: vendor/bin/phpunit
